/* General CSS start */

/* 1rem = 16px */

* {
  margin: 0;
  padding: 0;
  font-family: OSC;
}

@font-face {
  font-family: OS;
  src: url("./assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: OSC;
  src: url("./assets/fonts/OpenSans-CondLight.ttf");
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.btn_red,
.btn_transparent:hover {
  background-color: #de2e54;
  border-color: #de2e54;
}

.btn_red:hover {
  background-color: transparent;
  border-color: #fff; /* de - Red, 2e - Green, 54 - Blue */
}

.btn_transparent {
  background: transparent;
  border-color: #fff;
}

.section_title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 120%;
  color: #fff;
}

.text_black {
  color: #000;
}

.text_white {
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* General CSS finish */

/* Navbar CSS start */

nav {
  padding: 24px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrap a {
  display: flex;
  align-items: center;
}

.logo_wrap span {
  font-family: OS;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-left: 1rem;
}

.logo_wrap span:hover {
  color: #de2e54;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li a {
  margin-left: 2rem;
  font-family: OS;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
}

.menu li a:hover {
  color: #de2e54;
  cursor: pointer;
}

/* Navbar CSS finish */

/* Banner CSS start */

.banner {
  height: 533px;
  align-items: center;
  background-color: #0eb4c1;
}

.banner__title {
  margin-bottom: 1rem;
}

.banner__subtitle {
  width: 440px;
  height: 108px;
  margin-bottom: 36px;
  font-family: OS;
  font-size: 1.125rem;
  line-height: 150%;
  color: #ffffff;
}

.banner-img {
  height: 100%;
  text-align: right;
}

.banner-img img {
  transition: 0.5s all ease;
  position: relative;
  top: 29px;
}

.banner-img img:hover {
  transform: scale(1.1);
  top: 4px;
}

/* Banner CSS finish */

/* Services CSS start */

.services {
  margin: 7.5rem 18rem;
  text-align: center;
}

.services > h2 {
  margin-bottom: 3.5rem;
}

.service_item {
  display: flex;
  margin-bottom: 5rem;
}

.service_img {
  width: 200px;
  height: 200px;
  margin-right: 4rem;
}

.service_text {
  text-align: left;
}

.service_text > h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: #222;
  line-height: 120%;
  font-weight: 700;
}

.service_text > p {
  font-family: OS;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #444;
}

/* Services CSS finish */

/* Register CSS start */

.register {
  background-color: #0eb4c1;
  padding: 4rem 0;
  text-align: center;
}

.register .section_title {
  margin-bottom: 2.5rem;
}

.register .btn:first-child {
  margin-right: 1.25rem;
}

.register .btn:last-child {
  margin-left: 1.25rem;
}

/* Register CSS finish */

/* Footer CSS start */

footer {
  padding: 24px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
}

footer .menu a {
  color: #fff;
}

/* Footer CSS finish */
